<div class="contact">
  <ul class="contact__list list-reset">
    
  
    {% if site.data.settings.tiktok %}
      <li><a href="{{ site.data.settings.tiktok }}"><img style="width:13px;height:13px; content:url(https://unpkg.com/ionicons@5.5.2/dist/svg/logo-tiktok.svg)"></img></a></li>
    {% else %} {% endif %}
    
    
  
    {% if site.data.settings.youtube %}
      <li><a href="{{ site.data.settings.youtube }}"><img style="width:13px;height:13px; content:url(https://unpkg.com/ionicons@5.5.2/dist/svg/logo-youtube.svg)"></img></a></li>
    {% else %} {% endif %}
    
    {% if site.data.settings.twitter %}
      <li><a href="{{ site.data.settings.twitter }}"><i class="ion ion-logo-twitter"></i></a></li>
    {% else %} {% endif %}

    {% if site.data.settings.facebook %}
      <li><a href="{{ site.data.settings.facebook }}"><i class="ion ion-logo-facebook"></i></a></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.dribbble %}
      <li><a href="{{ site.data.settings.dribbble }}"><i class="ion ion-logo-dribbble"></i></a></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.instagram %}
      <li><a href="{{ site.data.settings.instagram }}"><img style="width:13px;height:13px; content:url(https://unpkg.com/ionicons@5.5.2/dist/svg/logo-instagram.svg)"></img></a></li>
    {% else %} {% endif %}

    {% if site.data.settings.telegram %}
      <li><a href="{{ site.data.settings.telegram }}"><img style="width:13px;height:13px; content:url(https://unpkg.com/ionicons@5.5.2/dist/svg/ios-paper-plane.svg)"></img></a></li>
    {% else %} {% endif %}
  
    {% if site.data.settings.pinterest %}
      <li><a href="{{ site.data.settings.pinterest }}"><i class="ion ion-logo-pinterest"></i></a></li>
    {% else %} {% endif %}
  </ul>
</div>
